---
import { CollectionEntry } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

type Props = {
  post: CollectionEntry<"blog">;
};

const { post } = Astro.props;
const { lang } = Astro.params;
---

<div>
  <a href={`/${lang}/blog/${post.id.replace(`${lang}-`, "")}`}>
    {post.data.image && (
      <img src={post.data.image} alt={post.data.title} width="100%" />
    )}
    <h2 class="title">{post.data.title}</h2>
    <span class="date">
      <FormattedDate date={post.data.pubDate} />
    </span>
    <p>{post.data.description}</p>
  </a>
</div>
